In [2]:
import pandas as pd
import os

randdata = pd.read_csv('data/randint/clean_random_0815.csv')
btdata = pd.read_csv('data/translation/ko2en2ko.csv')

In [13]:
btdata

,class,problem,code,answer
0,8,한 변의 길이가 24cm인 정육각형과 둘레가 같은 정팔각형이 있습니다. 이 정팔각형...,a = 24\nb = 6\nc = 8\ny = a * b / c\nprint(y),18
1,1,윤아는 부추전을 8등분해서 한조각 먹었다. 윤미는 부추전을 같은 크기로 16등분했다...,a = 8\nb = 16\ny = b / a\nprint(y),2
2,8,화단 둘레에 12m 옆 팔각형 울타리를 놓으면 울타리가 모두 몇 m가 될까요?,a = 12\nb = 8\ny = a * b\nprint(y),96
3,3,"0, 9, 8, 7, 2, 1의 6가지 숫자 카드가 있습니다. 한 번 사용하여 가장...",from itertools import permutations\n\na = ['0'...,987210
4,1,0.26 x 0.8을 계산합니다.,a = 0.26\nb = 0.8\ny = a * b\nprint(y),0.21
...,...,...,...,...
2815,1,10분에 6.53km를 이동하는 자동차와 20분에 15.12km를 이동하는 오토바이...,a = 6.53 / 10\nb = 15.12 / 20\nc = 1 * 60\ny =...,84.54
2816,8,한 면의 면적이 81cm²인 정육면체가 있습니다. 이 입방체의 부피는 몇 cm³입니까?,a = 81\nb = a ** 0.5\ny = b * b * b\nprint(y),729
2817,1,○ 4880보다 큰 수는 9000입니다. ○ 해당하는 수를 란에 기입하십시오.,a = 9000\nb = 4880\ny = a - b\nprint(y),4120
2818,1,"문구점에서 연필은 400원, 공책은 1,000원입니다. 현승은 연필 5개와 공책 2...",a = 400\nb = 1000\nc = 5000\nd = 5\ne = 2\ny =...,1000
2819,1,44개의 초콜릿을 11개의 상자로 균등하게 나누고 싶습니다. 한 상자에 몇 개의 초...,a = 44\nb = 11\ny = a // b\nprint(y),4

In [12]:
data = pd.read_csv('data/randint/train/Noaug.csv')
data['Unnamed: 0']

0        157
1       1647
2        219
3        860
4       1307
        ...
2645    2582
2646    1151
2647    1105
2648    1842
2649    1931
Name: Unnamed: 0, Length: 2650, dtype: int64

In [14]:
# data = pd.read_csv('data/val.csv')
data = pd.concat([data,randdata.loc[list(data['Unnamed: 0'])],btdata.loc[list(data['Unnamed: 0'])]], axis=0)

In [15]:
data

,Unnamed: 0,class,problem,code,answer,Unnamed: 0.1
0,157.0,1,양동이에 들어있는 20리터의 물의 1/4를 나무에 물을 주는 데 사용했다면 남은 물...,a = 20\nb = 1/4\ny = a * (1 - b)\nprint(y),15.0,NaN
1,1647.0,1,"세형이는 시골에 가는 데 기차를 2시간 동안 타고, 버스를 3시간 동안 타고 갔습니...",a = 2\nb = 3\nc = 9\ny = c - (a + b)\nprint(y),4,NaN
2,219.0,8,"가로가 7cm, 세로가 9cm인 직사각형이 있습니다. 이 직사각형의 넓이를 구하세요.",a = 7\nb = 9\ny = a * b\nprint(y),63,NaN
3,860.0,8,"원 A의 지름은 24cm이고 원 B의 지름은 원 A의 반지름과 같습니다. 이때, 원...",a = 24\nb = a / 2\ny = b / 2\nprint(y),6.0,NaN
4,1307.0,6,어떤 수에다가 5를 곱하고 3을 더한 후 17을 빼면 36입니다. 어떤 수를 구하세요.,a = 5\nb = 3\nc = 17\nd = 36\ny = (d + c - b) ...,10.0,NaN
...,...,...,...,...,...,...
2582,NaN,8,변의 길이가 56/4cm인 정사각형의 둘레를 센티미터 단위로 구하십시오.,a = 56/4\nb = 4\ny = a * b\nprint(y),56,NaN
1151,NaN,1,수호 반의 3/5은 남학생이고 남학생의 2/5는 충치가 있습니다. 당신의 반에서 치...,a = 3/5\nb = 2/5\ny = a * b\nprint(y),0.24,NaN
1105,NaN,1,"재환이가 저금통에 가지고 있던 동전을 세어보니 73,700원이었다. 이 돈을 100...",a = 73700\nb = 1000\ny = a // b * b\nprint(y),73000,NaN
1842,NaN,1,각 연필의 무게는 45g이고 6개의 지우개 무게는 360g입니다. 연필 6개와 지우...,a = 1\nb = 45\nc = 6\nd = 360\ne = 6\nf = 4\ny...,510,NaN
1931,NaN,5,다음 비례식 7:8 = 56:A를 만족하는 A를 구하십시오.,a = 7\nb = 8\nc = 56\ny = c * b / a\nprint(y),64,NaN

In [10]:
val = pd.read_csv('data/val.csv')
val

,Unnamed: 0,index,class,problem,code,answer
0,2787,2787,8,가로가 6cm인 직사각형이 있습니다. 이 직사각형의 세로는 가로의 3배 입니다. 직...,a = 6\nb = 3\ny = a * b\nprint(y),18
1,516,516,7,성빈이의 지우개의 길이는 3.8 cm이고 윤서의 지우개의 길이는 4.2 cm입니다....,"a = 3.8\nb = 4.2\ndicts = {'성빈': a, '윤서': b}\n...",윤서
2,773,773,1,체리 645개를 한 명에게 3개씩 주면 몇 명에게 나누어 줄 수 있을까요?,a = 645\nb = 3\ny = a // b\nprint(y),215
3,2464,2464,4,"동물원에 하마 724마리, 코끼리 465마리, 곰 426마리가 살고 있습니다. 가장...","a = [724, 465, 426]\ny = max(a) - min(a)\nprin...",298
4,1626,1626,8,한 변의 길이가 12.24cm인 정사각형이 있습니다. 이 정사각형의 둘레는 몇 cm...,a = 12.24\nb = 4\ny = a * b\nprint(y),48.96
...,...,...,...,...,...,...
165,335,335,3,1부터 9까지의 자연수 중에서 다음식 10－24÷3＋3＞A 을 만족하는 수는 몇개입니까?,a = 10 - 24/3 + 3\nb = 1\nc = 9\ny = 0\nfor i ...,4
166,50,50,1,"사과 250개를 한 상자에 10개씩 담아 팔려고 한다면, 몇 상자를 팔 수 있는지 ...",a = 250\nb = 10\ny = a // b\nprint(y),25
167,1595,1595,8,한 변의 길이가 17cm인 정사각형의 각 변의 가운데를 이어 마름모를 그렸습니다. ...,a = 17\ny = a * a / 2\nprint(y),144.5
168,1363,1363,5,다음 식 (3+2/9) + A =12를 만족하는 수를 소수점 아래 둘 째 자리까지 ...,"a = (3 + 2/9)\nb = 12\ny = b - a\nprint(""{:.2f...",8.78
169,2428,2428,8,모서리의 길이가 같은 육각뿔의 모서리의 길이의 합이 20미터 일 때 한 모서리의 길...,a = 20\nb = 6\ny = a / (b * 2)\nprint(y),1.6666666666666667

In [16]:
dictdata = {}
for i in range(1,9):
    dictdata[i] = data[data['class']==i].reset_index()[['class','problem','code','answer']]

In [17]:
dictdata[1]

,class,problem,code,answer
0,1,양동이에 들어있는 20리터의 물의 1/4를 나무에 물을 주는 데 사용했다면 남은 물...,a = 20\nb = 1/4\ny = a * (1 - b)\nprint(y),15.0
1,1,"세형이는 시골에 가는 데 기차를 2시간 동안 타고, 버스를 3시간 동안 타고 갔습니...",a = 2\nb = 3\nc = 9\ny = c - (a + b)\nprint(y),4
2,1,"딸기가 2.5 kg 있었는데, 어제는 0.8 kg 을 먹고 오늘은 0.3 kg 을 ...",a = 2.5\nb = 0.8\nc = 0.3\ny = a - b - c\nprin...,1.4
3,1,타율은 전체 타수에 대한 안타의 수입니다. 야구 선수 현수의 작년 평균 타율은 46...,a = 46\nb = 92\ny = int(b / a * 100)\nprint(y),200
4,1,진수는 20살입니다. 진수 어머니의 나이는 진수 나이의 2배보다 12살이 많다고 합...,a = 20\nb = 2\nc = 12\ny = a * b + c\nprint(y),52
...,...,...,...,...
2815,1,한 병에 식용유 2L를 넣으려면 몇 병이 필요합니까?,from math import ceil\na = 50\nb = 2\ny = ceil...,25
2816,1,100원짜리 동전 6개를 쌓아 높이를 재보니 9mm였다. 5.5cm 높이에 100원...,a = 6\nb = 9\nc = 5.5 * 10\ny = round(c / b * ...,37
2817,1,수호 반의 3/5은 남학생이고 남학생의 2/5는 충치가 있습니다. 당신의 반에서 치...,a = 3/5\nb = 2/5\ny = a * b\nprint(y),0.24
2818,1,"재환이가 저금통에 가지고 있던 동전을 세어보니 73,700원이었다. 이 돈을 100...",a = 73700\nb = 1000\ny = a // b * b\nprint(y),73000
2819,1,각 연필의 무게는 45g이고 6개의 지우개 무게는 360g입니다. 연필 6개와 지우...,a = 1\nb = 45\nc = 6\nd = 360\ne = 6\nf = 4\ny...,510

In [18]:
dictdata[2]

,class,problem,code,answer
0,2,"정수, 범호, 민호, 남진, 윤정, 유미 순서로 줄을 서려고 합니다. 민호는 몇 번...","a = ['정수', '범호', '민호', '남진', '윤정', '유미']\nb = ...",3
1,2,"학생들이 키가 큰 순서대로 줄을 서있다. 수환이의 키는 두 번째로 크고, 세형이의 ...",a = 2\nb = 4\ny = (a + b) // 2\nprint(y),3
2,2,학생들이 한 줄로 서 있습니다. 금채는 앞에서 세 번째에 서 있습니다. 경원이는 맨...,a = 3\nb = 20\ny = a + b + 1\nprint(y),24
3,2,"학교에서 국어, 수학, 사회의 순서로 시험을 봤습니다. 세 번째로 시험을 본 과목은...","a = ['국어', '수학', '사회']\nb = 3\ny = a[b - 1]\np...",사회
4,2,"학생들이 키가 작은 순서대로 줄을 서있다. 승현이의 키는 두 번째로 작고, 동준이의...",a = 2\nb = 4\ny = (a + b) // 2\nprint(y),3
...,...,...,...,...
79,2,12에서 24 사이의 모든 자연수의 수를 구하십시오.,a = 12\nb = 24\ny = b - a + 1\nprint(y),13
80,2,"학생들은 높이 순으로 줄을 섭니다. 승철은 6번째로, 남일은 8번째로 키가 크다. ...",a = 6\nb = 8\ny = (a + b) // 2\nprint(y),7
81,2,"한수와 친구들은 정민, 수영, 한수, 승현, 찬혁의 순서로 줄을 섰다. 한수가 몇 ...","a = ['정민', '수영', '한수', '승현', '찬혁']\ny = a.inde...",3
82,2,총 30명의 학생들이 줄을 서고 있습니다. 윤정이 뒤에 12명의 학생이 있다면 윤정...,a = 30\nb = 12\ny = a - b\nprint(y),18
83,2,"달리기 대회에서는 남구가 3위, 윤서가 5위를 기록했다. 석호는 윤서보다는 나았지만...",a = 3\nb = 5\ny = b - 1\nwhile y > 0:\n if ...,4

In [19]:
for i in range(1,9):
    dictdata[i].to_csv(f'data/aug_classify/class{i}.csv', encoding='utf-8-sig')

In [26]:
data = pd.read_csv('data/clean_all_correct.csv')
count = 0
dicdata = data[data['code'].apply(lambda x: 'dict' in x)]

In [29]:
dicdata[dicdata['class']==7]

,Unnamed: 0,class,problem,code,answer
5,5,7,"현수네 집에서 미용실, 병원, 백화점까지의 거리는 각각 4/5km, 1/3km, 0...",a = 4 / 5\nb = 1 / 3\nc = 0.9\ndicts = {'미용실':...,병원
8,8,7,"수정이가 가지고 있는 색연필의 길이는 6.1센티미터 , 볼펜의 길이는 6.5센티미터...","dicts = {""색연필"": 6.1, ""볼펜"": 6.5}\ny = max(dicts...",볼펜
31,31,7,"명숙이네 학교 여학생은 451명, 남학생은 400명 있다면, 명숙이네 학교에는 남학...","a = 451\nb = 400\ndicts = {""여학생"": a, ""남학생"": b}...",여학생
81,81,7,"민지, 호정, 진수는 감자밭에서 감자를 캤습니다. 딴 감자 전체의 2/9은 민지가 ...",a = 2 / 9\nb = a * 3\nc = 1 - (a + b)\ndicts =...,호정
85,85,7,"부채가 1555개, 전기 모기향이 1222개, 모기장이 1666개 있다면, 부채, ...",a = 1555\nb = 1222\nc = 1666\ndicts = {'부채': a...,모기장
...,...,...,...,...,...
2740,2740,7,"현수는 줄넘기를 5일간 하루에 40번씩, 민주는 줄넘기를 6일동안 하루에 30번 씩...","a = 5 * 40\nb = 6 * 30\ndicts = {'현수':a, '민주':...",현수
2742,2742,7,꽃밭에서 성준이네 집까지는 9 m 90 cm이고 현준이네 집까지는 980 cm입니다...,"a = (9 * 100) + 90\nb = 980\ndicts = {'성준': a,...",현준
2743,2743,7,"반포대교와 마포대교의 길이는 각각 2890 m, 2 km 400 m입니다. 반포대교...","a = 2890\nb = 2400\ndicts = {""반포대교"": a, ""마포대교""...",반포대교
2794,2794,7,"가게에 음료수가 12 개씩 7 줄로, 과자가 12 개씩 6줄로 놓여 있습니다. 가게...",a = 12\nb = 7\nc = 12\nd = 6\ndicts = {'음료수': ...,음료수
2800,2800,7,"곤지는 윗몸 일으키기를 60번씩 2일 동안 했고, 상수는 50번씩 3일 동안 했다면...","a = 60\nb = 2\nc = 50\nd = 3\ndicts = {""곤지"": a...",상수